@import "/src/assets/variable.scss";

.auth-main {
  height: 100vh !important;
  width: 100%;
  background-image: linear-gradient($primary, $secondary);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.login-form {
  width: 350px;
  max-width: 90%;
  position: fixed;
  top: 2%;
  margin-bottom: 0 !important;
}
.auth-box-mobile {
  width: 100% !important;
}
.auth-box {
  height: max-content;
  text-align: center;
  margin: 55px 0 0 0;
  width: 350px;
  max-width: 90%;
  .auth-box-descrip {
    font-size: 10px;
    display: inline-block;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-box-form {
  padding: 10px 15px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 0 5px #fff;
  width: 100%;
  // margin: 15% auto;
}
.auth-box-form-m {
  padding: 5px 10px 0px 10px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 0 5px #fff;
  width: 100%;
  margin: 15% auto;
}
.auth-box img {
  width: 200px;
}

.auth-main .auth-title {
  position: relative;
  color: $primary;
  // text-transform: uppercase;
}

.auth-main .auth-title:before,
.auth-main .auth-title:after {
  content: "";
  height: 1px;
  position: absolute;
  top: 23px;
  width: 20%;
  background: var(--black);
}

.auth-main .auth-title:before {
  left: 0;
}

.auth-main .auth-title:after {
  right: 0;
}

.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #0056b3;
}

.login-text {
  flex: 1;
  font-size: 1rem;
}

.mlogintext {
  margin-left: 100px;
}

.spinner-icon {
  width: 16px;
  height: 16px;
  border: 3px dotted rgba(255, 255, 255, 255);
  border-radius: 50%;
  animation: rotate 1s linear infinite;
}

.button-container {
  position: relative;
  display: flex;
  align-items: center;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.spinner-icon::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background-color: white;
  border-radius: 50%;
  position: relative;
  top: 7px;
  left: 7px;
  animation: blink 1s infinite alternate;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 2;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  .auth-main {
    display: flex;
    align-items: center;
    justify-content: center;

    .auth-box {
      margin: 0;
    }
  }
}
