.casino-table-q {
    background-color: #f7f7f7;
    color: #333;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5px;
    flex-direction: row;
}

.casino-table-box-q {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.casino-odd-box-container-q {
    width: calc(24% - 7.5px);
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

// .casino-odd-box-container-q {
//     width: 100%;
// }

.casino-nation-name-q {
    width: 100%;
    text-align: center;
}

.casino-nation-name-q {
    font-size: 16px;
    font-weight: bold;
}
.casino-odds-box-q {
    width: 49%;
}
.casino-odds-box-q {
    width: 49%;
}
.casino-odds-box-q {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    font-weight: bold;
    border-left: 1px solid #c7c8ca;
    cursor: pointer;
    min-height: 46px;
}
.casino-odds-box-q {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    font-weight: bold;
    border-left: 1px solid #c7c8ca;
    cursor: pointer;
    min-height: 46px;
}

.suspended-box-q {
    position: relative;
    pointer-events: none;
    cursor: none;
}

.casino-odds-q {
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
}

.casino-nation-book-q {
    width: 100%;
    text-align: center;
}

.casino-nation-book-q {
    font-size: 12px;
    font-weight: bold;
    min-height: 18px;
    z-index: 1;
}

.casino-remark-q {
    padding: 0 5px;
    color: #097c93;
    font-weight: bold;
    font-size: 12px;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    width: 100%;
}

.casino-remark-q .marquee-q {
    width: calc(100% - 60px);
    float: right;
    padding-left: 10px;
}