@import "/src/assets/variable.scss";
.balance-cont{
    line-height: 1;
}
.dropdown-menu-nav{
    background-color: $white !important;
    right: 0px !important;
    left: auto !important;
    .dropdown-item{
        color: $black !important;
    }
    
}
.navbar .dropdown-menu :hover{
    text-decoration: underline !important;
    background-color: transparent;
}
.nav-marquee{
    width: 55%;
    position: absolute;
    bottom: 0px;
    right: 0;
}

