.detail-page-container-c {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}

.five-cricket .market-2 {
  min-width: calc(50% - 8px);
}
.market-2 {
  min-width: calc(53.33% - 8px);
  max-width: calc(100% - 8px);
  margin-left: 4px;
  margin-right: 4px;
  flex: 1;
  width: calc(50% - 8px);
}

.game-market-c {
  background: white;
  color: black;
  margin-top: 8px;
}

.market-header-c, .market-row-c {
  border-bottom: 0.01em solid #fff;
}
.market-header-c {
  display: flex;
  
  align-items: center;
  padding: 0;
}

.market-nation-detail-c {
  width: calc(100% - 250px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 5px;
  font-size: 14px;
}
.market-nation-detail-b {
  width: calc(100% - 160px);;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 5px;
  font-size: 14px;
}


.market-nation-detail-c .market-nation-name-c {
  font-weight: 400;
  max-width: 100%;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}

.market-nation-book-c {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.market-odd-box-c {
  width: 80px;
  padding: 2px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-left: 1px solid grey;
  cursor: pointer;
  min-height: 30px;
}

.five-cricket .market-6 {
  min-width: calc(33.33% - 8px);
}
.market-6 {
  min-width: calc(100% - 8px);
  max-width: calc(100% - 8px);
  margin-left: 4px;
  margin-right: 4px;
  flex: 1;
}
// .fancy-market {
//   border-bottom: 1px solid grey;
// }
.market-6 .market-nation-detail-c .market-nation-name-c {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-width: calc(100% - 50px);
}
.suspended-row {
  position: relative;
}
.suspended-row::after {
  content: attr(data-title);
  background-color: #373636d6;
  color: #ff0000;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
  top: 0;
  cursor: not-allowed;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.market-row-c {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
}
.market-header-c, .market-row-c {
  border-bottom: 0.01em solid #f2f2f2;
  display: flex;

}


@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .fancy-min-max-box {
      width: 55px;
  }
}

.fancy-min-max-box {
  width: 85px;
 
  text-align: right;
}
@media only screen and (min-width: 1400px) and (max-width: 1599px) {
  .market-2 .market-nation-detail-c {
      width: calc(100% - 120px);
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .market-6 .market-nation-detail-c {
      width: calc(100% - 165px);
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .market-2 .market-nation-detail-c {
      width: calc(100% - 910px);
  }
}