@import "/src/assets/variable.scss";

.dropdown-custom-components {
    padding: 0px !important;
}
.dropdown-menu-nav {
    background-color: $light !important;
    right: 0px !important;
    left: auto !important;
    .dropdown-item {
        color: $black !important;
    }
    .m-logout {
        color: $election !important;
        font-weight: 600;
    }
}
.logodiv{
    position: absolute;
    top: 6px;
    align-self: center;

}


// margin-bottom: 4px;

// .navbar-brand 
// margin-top: 29px;