@import "/src/assets/variable.scss";

.dropdown-custom-components {
  padding: 0px !important;
}
.dropdown-menu-nav {
  background-color: $light !important;
  right: 0px !important;
  left: auto !important;
  .dropdown-item {
    color: $black !important;
  }
}
.logodiv {
  position: absolute;
  top: 4px;
  left: 6px;
  align-self: center;
}

.customCheckbox {
  width: 16px;
  height: 16px;
  appearance: none;
  border-radius: 0;
  background-color: #ffc742;
  border: 1px solid #ffc742;
  cursor: pointer;
}

// margin-bottom: 4px;

// .navbar-brand
// margin-top: 29px;
