@import "/src/assets/variable.scss";

.session-country {
    text-decoration: none !important;

    &:hover {
        text-decoration: underline !important;
    }
}
.bet-place-box {
    width: 84px;
}
.minMax {
    text-align: right;
}
.text-right {
    align-items: flex-end; 
}