@import "/src/assets/variable.scss";

.session-country {
    text-decoration: none !important;

    &:hover {
        text-decoration: underline !important;
    }
}
.bet-place-box {
    width: 50px;
}
.minMax {
    text-align: right;
}
.minMaxBox {
  margin-left: 270%;
}
.text-right {
    align-items: flex-end; 
}