.dt20header{
    width: 100%;
    background-color: #004a25;
    // padding: 5px;
    display: flex;
    flex-direction: row;
  }
  .dt20subheader1{
    width: 40%;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .dt20subheader2{
    width: 60%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    font-size: 12px;
  }

  .tab {
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
  }
  
  .active-tab {
    border-top: 2px solid white;
  }