@use "/src/assets/variable" as *;

.place-bet-table-red {
  td {
    background-color: $red1;
  }
}

.place-bet-table-blue {
  td {
    background-color: $blue3;
  }
}

.place-bet-table-redm {
  background-color: $red1;
}

.place-bet-table-bluem {
  background-color: $blue3;
}

.sticky-column {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.ball-by-ball {
  display: "flex";
  margin: "10px 0";
  margin-bottom: "0";
  align-items: "center";
  font-size: "1.5rem";
}

.reset-submit-btn-container {
  // width: 40%;
  display: flex;
  // justify-content: space-around;
  align-items: center;
}

.reset-buttonn {
  width: 75px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bd1828;
  color: #fff;
  border-radius: 3px;
  border: 0;
}

.submit-buttonn {
  width: 75px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: #bd1828;
  color: #fff;
  border-radius: 3px;
  border: 0;
}