@import "/src/assets/variable.scss";
$btn-close-bg: 'gg' ;
.customModal {
    .modal-header {
        border: 0 !important;

        .btn-close {
            opacity: 1;
            margin-right: 0;
            color: $white !important;
            
        }
    }
}
