@import "/src/assets/variable.scss";

.gameTable table th,
.gameTable table td {
    padding: 0 !important;
    border-color: $white;
    border-width: 1px;
    border: 1px solid $white;
    border-right: 0;
}
.gameTable table td {
    background-color: $lightGray;
}
.gameTable table th {
    background-color: transparent;
    border-top: 0;
}
.gameTable table td:first-child {
    border-left: 0;
}
.gameTable table th nav ol {
    margin: 0 !important;
}
.gameTable table th.boxLayTitle {
    display: flex;
}
.backLayRunner span {
    line-height: 0.8;
}
.backLayRunner {
    width: max-content;
    .backLayRunner-country {
        line-height: 1.8;
    }
}

.htfttable{
    background-color: $lightGray;
}

@media screen and (max-width: 768px) {
    .gameTable table th,
    .gameTable table td {
        border: 1px solid $gray500 !important;
    }
}
