@import "/src/assets/variable.scss";
.horse-time-detail-m span {
    background: #ffc742;
    color: #000;
    padding: 5px 10px;
    border-radius: 4px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    cursor: pointer;
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}


.horse-time-detail-m {
  // width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 4px 0px 0px 0px;
}
.horse-time-detail-m a {
    display: flex;
    flex-wrap: wrap;
}

.tabs-nav .nav-item {
  flex: 1 1 0;
  padding-top: 0 !important;
  padding-bottom: 0;
}
.tabs-nav .nav-item{
  display: flex;
  flex-direction: column;
}
.tabs-nav {
    background-color: #ffc742;
    display: flex;
    flex-wrap: wrap;
    color: #495057; 
    border-radius: 0px;
    font-size: 12px;
  }

.tabs-nav .nav-links{
  background-color: #ffc742;
  display: flex;
  flex-wrap: wrap;
  color: #495057; 
  border-radius: 0px;
  font-size: 12px;

}
  .tabs-nav .nav-link.active {
    // width: 30vw;/* Change this to your desired active tab background color */
    background-color: #004a25;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }
  // .nav-links{
  //   width: 100dvw !important;
  // }

  /* Style each nav-item to occupy an equal width */
  .game-name{
    flex: 1 0 100%; /* This means each tab will take up 25% of the container width */
    max-width: 100vw; /* Ensure it doesn't exceed 25% of the width */
    font-size: 14px;
  }


  .game-list {
    background-color: #f1f5f8;
    border-bottom: 1px solid #d6d8d7;
    padding-left: 15px;
}
.game-icon .fa-tv {
  color: #000;
  font-size: 12px;
  margin-top: 6px;
  vertical-align: top;
}
  .game-icon{
    width: 20px;
    padding: 10px 7px 0px 1px;
  }
  .dt20header{
    width: 100%;
    background-color: #004a25;
    padding: 5px;
    display: flex;
    flex-direction: row;
  }
  .dt20subheader1{
    width: 40%;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .dt20subheader2{
    width: 60%;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    font-size: 12px;
  }
  .horseRacingTabHeaderMob{
    width: 100%;
    height: 10%;
    background-color: #ffc742;
    padding: 2px 4px;
  }
  .tiePairContainer{
    width: 100%;
    background-color: #eee;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .tiePairRateBoxMain{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 3%;
    justify-content: center;
    align-items: center;
  }
  .dt20TabBox{
    width: 100%;
    background-color: #004a25;
    padding: 5px;
    display: flex;
    flex-direction: row;
  }
  .dt20tabheader{
    width: 30%;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .oddEvenContainerMob{
    width: 100%;
    background-color: #eee;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .cardContainerMob{
    width: 100%;
    background-color: #eee;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 8px;
  }
  .tiePairbtnMob-theme {
    color: #fff !important;
    background-image: linear-gradient(to right, #004a25, #ffc742) !important;
    width: 100% !important;
    // border-radius: 4px !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
    border: 0 !important;
    padding: 2px 8px !important;
    cursor: pointer !important;
    font-size: 16px !important;
    font-weight: 600;
    position: relative;
    text-align: center;
  }
  /* Ensure the tabs are horizontally scrollable on smaller devices */
  @media (max-width: 768px) {
    // .tabs-nav {
    //   overflow-x: auto; /* Enable horizontal scrolling */
    //   -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
    //   width: 100%;
    // }
  
    .game-name {
      flex: 1 0 25%; /* Maintain 25% width on mobile */
      max-width: none; /* Allow flexibility for scrolling */
    }
  }