@import "/src/assets/variable.scss";

@keyframes winnerbox {
  0% {
    box-shadow: 0 0 0 0 rgba(29, 127, 30, 0.6);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(29, 127, 30, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(29, 127, 30, 0);
  }
}
.horse-time-detail span {
  position: relative;
  background: #ffc742;
  color: #000;
  padding: 2px 10px;
  font-size: 14px;
  border-radius: 4px;
  margin-right: 5px;
  cursor: pointer;
  // position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.horse-time-detail span.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-right: 10px solid transparent;
  border-top: 10px solid green;
}
// .match-list-tabs {
//   border-right: 1px solid $secondary !important;
//   border-radius: 0px !important;
//   background-color: $gray;
//   // padding: 2px 10px;
//   &:hover {
//     border-right: 1px solid $secondary !important;
//   }
//   &.active {
//     background-color: $secondary !important;
//     border-color: transparent !important ;
//   }
// }

// .navtem {
//   padding: 0px !important;
//   margin-top: 10px !important;
// }

.match-tabs {
  margin: 0 !important;
  border-right: 1px solid $secondary !important;
  border-radius: 0px !important;
  background-color: $gray;
  &:hover {
    border-right: 1px solid $secondary !important;
  }
  &.active {
    background-color: $secondary !important;
    border-color: transparent !important ;
  }
}

.tab-content > .active {
  display: block;
}
.coupon-card {
  border-radius: 0 0 2px 2px;
}
.table {
  margin-bottom: 0 !important;
}
.coupon-table tr {
  margin: 0 !important;
}
.coupon-table tr td {
  padding: 0;
  vertical-align: middle;
  font-size: 14px;
  word-wrap: break-word;
}
.table.coupon-table {
  margin-bottom: 0;
  border-collapse: collapse;
}

.table.coupon-table td {
  padding: 3px;
}
.text-dark {
  font-size: 12px;
  padding: 0 2px;
}
.table.coupon-table tr {
  margin-bottom: 0;
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.horse-time-detail {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  // padding: 5px 5px 0 5px;
}
.horse-time-detail a {
  // margin-bottom: 0;
  display: flex;
}
.navi-link {
  width: 100%;
}
.navi-item {
  max-height: 8%;
}

.navi-tabs .nav-link.active {
  flex: 1 0 10%;
  background-color: #ffc742;
  color: #000;
}
.navi-tabs .navi-item {
  margin: 0;
  background-color: #dddddd;
}
.navi-tabs .navi-item.active {
  margin: 0;
  background-color: #ffc742 !important;
}

.navi-tabs .navi-link {
  padding: 0; /* Remove padding from Nav.Link */
  margin: 0; /* Remove margin from Nav.Link */
}
.sBoxContainer {
  width: 50%;
  background-color: #ddd;
  padding-top: 5px;
}
.sBoxMainlucky {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 3%;
}
.commonButtonBoxContainerSbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // gap: 3px;
  border: 3px solid yellow;
  border-radius: 8px;
  line-height: 1.2;
  cursor: pointer;
}

.oddEvenContainer {
  width: 50%;
  background-color: #eee;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.cardContainer {
  width: 100%;
  background-color: #f7f7f7;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.abjcardContainer {
  width: 100%;
  // background-color: #eee;
  // padding: 10px;
  display: flex;
  flex-direction: row;
  // justify-content: space-around;
}
.commonCardImgContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  // margin-top: 5px;
}

.commonButtonBoxContainerOdd {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.evenOddbtn-theme {
  padding: 8px 0;
  font-weight: bold;
  font-size: 18px;
  color: #000;
  background-color: #72bbef !important;
  text-align: center;
  line-height: 1;
}
.column-flex {
  display: flex;
  flex-direction: column;
}
.row-flex {
  display: flex;
  flex-direction: row;
}
.justify-space-a {
  justify-content: space-around;
}
.align-center {
  align-items: center;
}

.abjresultModal {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.abjresultCardContainer {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.abjresultCardContainer-sub {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.casino-winner-icon {
  // font-size: 26px;
  box-shadow: 0 0 0 #ffc742;
  animation: winnerbox 1.5s infinite;
  border-radius: 50%;
  color: #169733;
}
// .horseRacingTab .nav-link{
//   margin: 0 !important;
// }
/* General Slick Arrow Styles */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  border: none;
  outline: none;
  background-color: white !important;
  color: transparent;
  opacity: 0.75; /* Default opacity when slidable */
  transition: opacity 0.3s ease;
}

/* Arrow Text Styles */
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: #000 !important;
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "←"; /* Default left arrow for prev */
}

.slick-next:before {
  content: "→"; /* Default right arrow for next */
}

/* Hover/Focus State for Arrows */
.slick-prev:hover:not(.slick-disabled),
.slick-next:hover:not(.slick-disabled),
.slick-prev:focus:not(.slick-disabled),
.slick-next:focus:not(.slick-disabled) {
  opacity: 1; /* Full opacity on hover/focus if not disabled */
}

.slick-prev:hover:not(.slick-disabled),
.slick-next:hover:not(.slick-disabled),
.slick-prev:focus:not(.slick-disabled),
.slick-next:focus:not(.slick-disabled) {
  opacity: 1; /* Full opacity for background on hover/focus if not disabled */
}

/* Disabled Arrows */
.slick-prev.slick-disabled,
.slick-next.slick-disabled {
  color: #000 !important;
  background: white !important;
  opacity: 0.75 !important; /* Lower opacity when disabled */
  cursor: not-allowed;
}

/* Styling for Slick List */
.slick-list {
  margin: 1px !important;
}

/* Flexbox for Slick Slides */
.slick-slide > div > div {
  display: flex !important;
  justify-content: center;
}

.ticker-container {
  width: 100%;
  overflow: hidden;
  background: #f7f7f7;
  border: 1px solid #ddd;
}

.ticker-wrap {
  display: flex;
  width: 100%;
  white-space: nowrap;
}

.ticker-move {
  display: flex;
  animation: ticker 40s linear infinite;
  color: "#097c93";
}

.ticker-item {
  display: inline-block;
  padding: 0 2rem;
  font-size: 1.2rem;
  line-height: 2rem;
  white-space: nowrap;
}

@keyframes ticker {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 768px) {
  .tabs-navs .nav-link {
    flex: 1 0 10%;
  }
}
