.sessionOddEvenContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    margin-top: 10px;
}
.sessionOddEvenTitle{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    background-color: #fece5d;
}
.sessionOddEvenTitleTxt{
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
}
.sessionOddEvenBoxContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #f2f2f2;
}
.sessionKhadoYesBox {
    width: 50%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sessionOddEvenTeam{
    width: 70%;
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 5px;
    border-bottom: 1px solid #c7c8ca;
}
.sessionOddEvenRate{
    width: 10%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #c7c8ca;
    border-right: 1px solid #c7c8ca;
}
.sessionOddEvenTeamTxt{
    color: #000;
    font-weight: 400;
}
.sessionOddEvenRateTxt{
    color: #000;
    font-weight: 600;
}
.sessionOddEvenMinMax{
    width: 10%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    padding: 5px;
}
.sessionOddEvenMinTxt{
    color: #097c93;
    font-size: 12px;
    font-weight: 500;
}
.back1Background{
    background-color: #72bbef !important;
}
.lay1Background{
    background-color: #faa9ba !important;
}
.f-size10 {
    font-size: 10px !important;
}
.f-size11 {
    font-size: 11px !important;
}
.f-size12 {
    font-size: 12px !important;
}
.f-size13 {
    font-size: 13px !important;
}
.f-size14 {
    font-size: 14px !important;
}
.f-size15 {
    font-size: 15px !important;
}
.f-size16 {
    font-size: 16px !important;
}
.f-size17 {
    font-size: 16px !important;
}
.f-size17 {
    font-size: 18px !important;
}