.sessionNormalContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    // margin-top: 10px;
}

.sessionNormalTitle {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 3px 6px;
    background-color: #fece5d;
}

.sessionNormalTitleTxt {
    color: #ffffff;
    font-weight: bold;
}

.sessionYesNoBoxContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-bottom: 1px solid #c7c8ca;
    background-color: #f7f7f7;
}

.sessionYesNoBox {
    width: 46%;
    display: flex;
    flex-direction: row;
}

.sessionYesBox {
    width: 33.33%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sessionEmptyBox {
    width: 33.33%;
    height: 30px;
}

.sessionBackTxt {
    color: #333;
    font-weight: bold;
}

.sessionRateContainer {
    width: 100%;
    // height: "auto";
    min-height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #c7c8ca;
    background-color: #f2f2f2;
}

.sessionRateName {
    // width: 54%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    line-height: 1;
}

.sessionRateBoxContainer {
    width: 46%;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
}

.sessionRateBox {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sessionRate1Box {
    font-size: 18px;
    color: #000;
    font-weight: bold;
}

.sessionRate2Box {
    font-size: 18px;
    color: #000;
    font-weight: 100;
}

.sessionMinBox {
    // font-size: 12px;
    font-weight: bold;
    color: #097c93;
    margin-right: 5%;
}

.sessionMinBoxContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: end;
    flex-direction: column;
}

.suspended-overlayRates {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #373636d6;
    height: 100%;
    z-index: 999;
}

.back1Background {
    background-color: #72bbef !important;
}

.lay1Background {
    background-color: #faa9ba !important;
}

.f-size10 {
    font-size: 10px !important;
}

.f-size11 {
    font-size: 11px !important;
}

.f-size12 {
    font-size: 12px !important;
}

.f-size13 {
    font-size: 13px !important;
}

.f-size14 {
    font-size: 14px !important;
}

.f-size15 {
    font-size: 15px !important;
}

.f-size16 {
    font-size: 16px !important;
}

.f-size17 {
    font-size: 16px !important;
}

.f-size17 {
    font-size: 18px !important;
}
.runbetMobileModal 
.modal-dialog{
    margin: 0;
}
// .runbetMobileModal 
.modal-backdrop{
    --bs-backdrop-opacity: 0.25 !important;
}