@font-face {
  font-family: "RetroSigned";
  src: url("/fonts/Casino3DMarquee.woff2") format("woff2"),
    url("/fonts/Casino3DMarquee.woff") format("woff");
  font-weight: Light;
  font-style: normal;
}

.style {
  font-size: 40px;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "RetroSigned";
  font-weight: Light;
}