.table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
  }
  th,
  td {
    // padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;

  }
  
  thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
  }
  
  tbody + tbody {
    border-top: 2px solid #dee2e6;
  }
  
  .table-bordered {
    border: 1px solid #dee2e6;
  }
  
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #dee2e6;
  
  }
  
  .table-bordered thead th,
  .table-bordered thead td {
    border-bottom-width: 2px;
    // background-color: #eee;
  }
  
  .player-cell {
background-color: rgba(0, 0, 0, 0.05);
  }
  
  .back-cell {
    background-color: #add8e6;
  }
  
  .lay-cell {
    background-color: #ffcccb;
  }
  .box-6 {
    width: 60%;
    min-width: 60%;
    max-width: 60%;
    font-size: 12px;
    padding: 0px;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
  }

 
  .card32-table-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 0.2px solid #c7c8ca;
  }

