/* Ensure the tab container spans the full viewport width */
.tabs-nav {
  background-color: #ffc742;
  display: table-cell;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  // width: 10%;
  color: #495057;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
}

/* Ensure each tab link takes up equal space and is centered */
.tabs-nav .nav-link {
  flex: 1 0 20%;
  /* Each tab link takes up 20% of the container width for 5 tabs */
  text-align: center;
  background-color: #f8f9fa;
  /* Default background color for non-active tabs */
  color: #495057;
  /* Default text color for non-active tabs */
}

/* Style the active tab link */
.tabs-nav .nav-link.active {
  background-color: #007bff;
  /* Change this to your desired active tab background color */
  color: white;
  /* Change this to your desired active tab text color */
}

/* Ensure the tabs cover the full width on mobile devices */
@media (max-width: 768px) {
  .tabs-nav .nav-link {
    flex: 1 0 25%;
    /* Each tab link takes up 25% of the container width for 4 tabs */
  }
}

/* Style the table and horse-time-detail for better readability */

.horse-time-detail a {
  margin-right: 10px;
}

.coupon-table {
  height: 10% !important;
}