.latest-event {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 0;
    background: #ffc742;
    background-color: transparent !important;
    padding: 0;
    align-items: flex-start;
}

.latest-event-mobile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 0;
    background: #ffc742;
    background-color: #004a25 !important;
    padding: 0;
    align-items: flex-start;
}
@media only screen and (max-width: 1199px) {
    .latest-event-item a {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        white-space: nowrap;
        align-items: center;
    }
}
.latest-event-item a {
    color: #ffffff;
    font-size: 14px;
    font-weight: bold !important;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.blink_me {
    animation: blinker 1s linear infinite;
}
@media only screen and (max-width: 1199px) {
    .latest-event-item {
        min-width: 50%;
        width: auto;
        max-width: 100%;
        height: 100%;
    }
}

.latest-event-item {
    flex: 1;
    max-width: 100%;
    // min-width: calc(20% - 10px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background: #ffc742;
    margin-right: 5px;
    border-radius: 0;
    color: #ffffff;
    margin-bottom: 5px;
}


@media only screen and (max-width: 1199px) {
    .latest-event {
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        justify-content: flex-start;
        margin-bottom: 0;
        white-space: nowrap;
        background-color: #004a25;
        padding: 0 5px 5px;
    }
}
@media only screen and (max-width: 1199px) {
    .latest-event-mobile {
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        justify-content: flex-start;
        margin-bottom: 0;
        white-space: nowrap;
        background-color: #004a25;
        padding: 0 5px 5px;
    }
}
.icon-4:before {
    content: "\e905";
}
.icon-40:before {
    content: "\e929";
}
.icon-2:before {
    content: "\e903";
}
@keyframes blinker {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
[class^="icon-"], [class*=" icon-"] {
    font-family: "dfont" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width: 1199px) {
    .latest-event-item a span {
        width: 100%;
        text-align: center;
    }
}

.latest-event-item a span {
    margin-left: 5px;
    white-space: nowrap;
    height: auto;
    max-width: calc(90% - 0px);
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}