.custom-modal {
  width: 96%;
}

.custom-modal th,
.custom-modal td {
  text-align: center;
  vertical-align: middle;
}

.date-as{
  width: 9%;
}
.sr-as{
  width: 3%;
}
.credit-as{
  width: 5%;
}
.debit-as{
  width: 5%;
}
.pts-as{
  width: 5%;
}
.bg-grey{
  background-color: #f2f2f2 !important;
}