.match-odd-bet-place{
    width: 84px;
    
}
.match-odd-bet-placem{
    width: 44px;
    
}
.runAmountBetModal{
    .modal-content{

        max-width: 300px;
        border-radius: 0;
    }
    .modal-header{
        border-radius: 0;
    }
}

@media only screen and (max-width: 992px) {
    .runAmountBetModal{
        display: flex !important;
        align-items: center;
        justify-content: center;
        .modal-dialog{
            width: 90%;
        }
        .modal-content{
            width: 100%;
            max-width: 100%;
        }

    }
    }
