@import "/src/assets/variable.scss";

.search-box {
  display: flex;
  align-items: center;
  top: 50%;
  left: 0;
  position: absolute;
  transition: all 1s ease; 

  .form-control {
    transition: width 1s ease;
    width: 0;
    opacity: 0;
    padding: 0;
  }

  .search-icon {
    transition: transform 1s ease;
    color: $white;
    font-size: 24px;
    padding-left: 10px;
    z-index: 999;
  }

  &.searchIcoActive {
    .form-control {
      width: 150px; /* Set your desired width when active */
      opacity: 1;
      padding: 0 10px;
    }

    .search-icon {
      transform: translateX(10px); /* Move the icon to the right */
    }
  }
}


.search-box input.search-input-show {
  width: 150px;
  transition: width 0.4s linear;
  -webkit-transition: width 0.4s linear;
  -moz-transition: width 0.4s linear;
  -ms-transition: width 0.4s linear;
  -o-transition: width 0.4s linear;
  padding: 0.375rem 0.75rem;
  box-shadow: 0 0 5px #6f6f6f;
  border-radius: 0;
  height: 25px;
  z-index: 999;
}