@use "/src/assets/variable" as *;

.search-box {
  z-index: 999;
  padding-right: 5px;
  background-color: rgb(0 74 37) !important;
  display: flex;
  align-items: center;
  top: 50%;
  left: 0;
  position: absolute;
  transition: all 1s ease;

  .form-control {
    transition: width 1s ease;
    width: 0;
    opacity: 0;
    padding: 0;
  }

  .search-icon {
    transition: transform 1s ease;
    color: $white;
    font-size: 24px;
    padding-left: 6px;
    z-index: 999;
  }

  &.searchIcoActive {
    .form-control {
      width: 150px;
      opacity: 1;
      padding: 0 10px;
    }
  }
}


.search-input-container {
  overflow: hidden;
  transition: width 0.4s ease-in-out;
  width: 0;
}

.search-input-container.active {
  width: 150px;
}

.search-input-show {
  width: 100%;
  transition: opacity 0.4s ease-in-out;
  opacity: 0;
}

.search-input-container.active .search-input-show {
  opacity: 1;
}