@use "/src/assets/variable" as *;

@keyframes winnerbox {
    0% {
        box-shadow: 0 0 0 0 rgba(29, 127, 30, 0.6);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(29, 127, 30, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(29, 127, 30, 0);
    }
}

.casino-result-desc {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    padding: 6px;
    box-shadow: 0 0 4px -1px;
    margin-top: 10px;
}

.casino-result-desc-item {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.casino-result-desc-item div:first-child {
    margin-right: 2%;
    opacity: 0.6;
}

.casino-result-desc-item div:last-child {
    word-break: break-all;
}

.horse-time-detail span {
    position: relative;
    background: #ffc742;
    color: #000;
    padding: 2px 10px;
    font-size: 14px;
    border-radius: 4px;
    margin-right: 5px;
    cursor: pointer;
    // position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.horse-time-detail span.active::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border-right: 10px solid transparent;
    border-top: 10px solid green;
}

.horse-time-detail-m span {
    background: #ffc742;
    color: #000;
    padding: 5px 10px;
    border-radius: 4px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    cursor: pointer;
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}


.horse-time-detail-m {
    // width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 4px 0px 0px 0px;
}

.tabs-nav .nav-item {
    flex: 1 1 0;
    padding-top: 0 !important;
    padding-bottom: 0;
}

.tabs-nav .nav-item {
    display: flex;
    flex-direction: column;
}

.tabs-nav {
    background-color: #ffc742;
    display: flex;
    flex-wrap: wrap;
    color: #495057;
    border-radius: 0px;
    font-size: 12px;
}

.tabs-nav .nav-item .nav-link {
    text-align: left;
}

.tabs-nav .nav-links {
    background-color: #ffc742;
    display: flex;
    flex-wrap: wrap;
    color: #495057;
    border-radius: 0px;
    font-size: 12px;
    text-align: left;
    justify-content: flex-start;
}

.tabs-nav .nav-link.active {
    // width: 30vw;/* Change this to your desired active tab background color */
    background-color: #004a25;
    color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
}

.game-name {
    flex: 1 0 100%;
    /* This means each tab will take up 25% of the container width */
    max-width: 100vw;
    /* Ensure it doesn't exceed 25% of the width */
    font-size: 14px;
}


.game-list {
    background-color: #f1f5f8;
    border-bottom: 1px solid #d6d8d7;
    padding-left: 15px;
}

.game-icon .fa-tv {
    color: #000;
    font-size: 12px;
    margin-top: 6px;
    vertical-align: top;
}

.game-icon {
    width: 20px;
    padding: 10px 7px 0px 1px;
}

.horse-time-detail-m a {
    display: flex;
    flex-wrap: wrap;
}

.rules-section .row.row5 {
    margin-left: -5px;
    margin-right: -5px;
}

.rules-section .pl-2 {
    padding-left: 0.5rem !important;
}

.rules-section .pr-2 {
    padding-right: 0.5rem !important;
}

.rules-section .row.row5>[class*="col-"],
.rules-section .row.row5>[class*="col"] {
    padding-left: 5px;
    padding-right: 5px;
}

.rules-section {
    text-align: left;
    margin-bottom: 10px;
}

.rules-section .table {
    color: #fff;
    border: 1px solid #444;
    background-color: #222;
    font-size: 12px;
}

.rules-section .table td,
.rules-section .table th {
    border-bottom: 1px solid #444;
}

.rules-section ul li,
.rules-section p {
    margin-bottom: 5px;
}

.rules-section::-webkit-scrollbar {
    width: 8px;
}

.rules-section::-webkit-scrollbar-track {
    background: #666666;
}

.rules-section::-webkit-scrollbar-thumb {
    background-color: #333333;
}

.rules-section .rules-highlight {
    color: #004a25;
    font-size: 16px;
}

.rules-section .rules-sub-highlight {
    color: #004a25;
    font-size: 14px;
}

.rules-section .list-style,
.rules-section .list-style li {
    list-style: disc;
}

.rules-section .rule-card {
    height: 20px;
    margin-left: 5px;
}

.rules-section .card-character {
    font-family: "Card Characters";
}

.rules-section .red-card {
    color: red;
}

.rules-section .black-card {
    color: black;
}

.rules-section .cards-box {
    background: #fff;
    padding: 6px;
    display: inline-block;
    color: #000;
    min-width: 150px;
}

.rules-section img {
    max-width: 100%;
}

.match-tabs {
    margin: 0 !important;
    border-right: 1px solid $secondary !important;
    border-radius: 0px !important;
    background-color: $gray;

    &:hover {
        border-right: 1px solid $secondary !important;
    }

    &.active {
        background-color: $secondary !important;
        border-color: transparent !important;
    }
}

.tab-content>.active {
    display: block;
}

.coupon-card {
    border-radius: 0 0 2px 2px;
}

.table {
    margin-bottom: 0 !important;
}

.coupon-table tr {
    margin: 0 !important;
}

.coupon-table tr td {
    padding: 0;
    vertical-align: middle;
    font-size: 14px;
    word-wrap: break-word;
}

.table.coupon-table {
    margin-bottom: 0;
    border-collapse: collapse;
}

.table.coupon-table td {
    padding: 3px;
}

.text-dark {
    font-size: 12px;
    padding: 0 2px;
}

.table.coupon-table tr {
    margin-bottom: 0;
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.horse-time-detail {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    // padding: 5px 5px 0 5px;
}

.horse-time-detail a {
    // margin-bottom: 0;
    display: flex;
}

.navi-link {
    width: 100%;
}

.navi-item {
    max-height: 8%;
}

.navi-tabs .nav-link.active {
    flex: 1 0 10%;
    background-color: #ffc742;
    color: #000;
}

.navi-tabs .navi-item {
    margin: 0;
    background-color: #dddddd;
}

.navi-tabs .navi-item.active {
    margin: 0;
    background-color: #ffc742 !important;
}

.navi-tabs .navi-link {
    padding: 0;
    /* Remove padding from Nav.Link */
    margin: 0;
    /* Remove margin from Nav.Link */
}

.teenPatti-table-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 4%;
}

.tiePairContainer-m {
    width: 100%;
    background-color: #eee;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.tiePairContainer-m-new {
    width: 100%;
    background-color: #eee;
    margin-top: 13%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tiePairRateBoxMain {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 3%;
}

.dt20resultModal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.dt20resultCardContainer {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.dt20CommonText {
    font-size: 16px;
    font-weight: 400;
    color: #a2a2a2;
}

.dg20tiePairContainer {
    width: 100%;
    background-color: #eee;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.dg20tiePairRateBoxMain {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 3%;
}

.dt20CommonText-2 {
    font-size: 16px;
    font-weight: 400;
    color: #000;
    margin-left: 10px;
}

.casino-winner-icon {
    // font-size: 26px;
    box-shadow: 0 0 0 #ffc742;
    animation: winnerbox 1.5s infinite;
    border-radius: 50%;
    color: #169733;
}

.tiePairRateBoxMainNew {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 3%;
    justify-content: center;
    align-items: center;
}

.tiePairRateBoxMainlucky {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.commonButtonBoxContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.commonButtonBoxContainerLucky {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.tiePairContainer-lucky7 {
    width: 100%;
    background-color: #eee;
    display: flex;
    flex-direction: column;
}

.tiePairContainer-l7a {
    width: 100%;
    background-color: #eee;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.commonButtonBoxContainerNew {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
}

.tiePairbtnlucky-theme {
    color: #fff !important;
    background-image: linear-gradient(to right, #004a25, #ffc742) !important;
    width: 100% !important;
    // border-radius: 4px !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
    border: 0 !important;
    padding: 2px 8px !important;
    cursor: pointer !important;
    font-size: 16px !important;
    font-weight: 600;
    position: relative;
    text-align: center;
}

.oddEvenContainerlucky {
    width: 50%;
    background-color: #eee;
    padding: 10px 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sBoxContainer {
    width: 50%;
    background-color: #ddd;
    padding-top: 5px;
}

.sBoxMainlucky {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 3%;
}

.commonButtonBoxContainerSbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // gap: 3px;
    border: 3px solid yellow;
    border-radius: 8px;
    line-height: 1.2;
    cursor: pointer;
}

.oddEvenContainer {
    width: 50%;
    background-color: #eee;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.oddEvenContainerNew {
    width: 50%;
    background-color: #eee;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cardContainerNew {
    width: 50%;
    background-color: #eee;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cardContainer {
    width: 100%;
    background-color: #f7f7f7;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.abjcardContainer {
    width: 100%;
    // background-color: #eee;
    // padding: 10px;
    display: flex;
    flex-direction: row;
    // justify-content: space-around;
}

.commonCardImgContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    // margin-top: 5px;
}

.commonCardImgContainerAbj {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin-top: 5px;
}

.commonButtonBoxContainerOdd {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.evenOddbtn-theme {
    padding: 8px 0;
    font-weight: bold;
    font-size: 18px;
    color: #000;
    background-color: #72bbef !important;
    text-align: center;
    line-height: 1;
}

.column-flex {
    display: flex;
    flex-direction: column;
}

.row-flex {
    display: flex;
    flex-direction: row;
}

.justify-space-a {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.abjresultModal {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.abjresultCardContainer {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.abjresultCardContainer2 {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.abjresultCardContainer-sub {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.lucky7resultModal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.lucky7resultCardContainer {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.lucky7CommonText {
    font-size: 16px;
    font-weight: 400;
    color: #a2a2a2;
}

.lucky7CommonText-2 {
    font-size: 16px;
    font-weight: 400;
    color: #000;
    margin-left: 10px;
}

.casino-winner-icon {
    // font-size: 26px;
    box-shadow: 0 0 0 #FFC742;
    animation: winnerbox 1.5s infinite;
    ;
    border-radius: 50%;
    color: #169733;
}


.min-max-info-lucky {
    height: auto;
    // width: 10px !important;
    position: absolute;
    right: 0 !important;
    background-color: whitesmoke;
    // padding: 0px 14px 16px 14px;
    z-index: 1000;
    font-size: 42px;
    box-shadow: 0 0 5px #999;
}

.sBoxContainer-m {
    width: 100%;
    background-color: #f7f7f7;
    padding-top: 5px;
}


.sBoxMainlucky-mabj2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.sBoxContainer-m-abj {
    width: 100%;
    background-color: #ddd;
    padding-top: 5px;
}

.sBoxMainlucky-m {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 3%;
}

.oddEvenContainer-m {
    width: 100%;
    background-color: #f7f7f7;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.oddEvenContainerAmar {
    width: 50%;
    background-color: #eee;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-left: 1px solid #c7c8ca;
    border-top: 1px solid #c7c8ca;
    border-right: 1px solid #c7c8ca;
}

.commonButtonBoxContainerSbox-m {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // gap: 3px;
    border: 3px solid yellow;
    border-radius: 8px;
    // line-height: 1.2;
}

.evenOddbtn-theme-m {
    padding: 8px 0;
    font-weight: bold;
    font-size: 18px;
    color: #000;
    background-color: #72bbef !important;
    text-align: center;
    // line-height: 1;
}

.teenPatti-table-container-20 {
    width: 100%;
    display: flex;
    flex-direction: column;
    // margin-top: 5%;
}

.teenPatti-table-container-c {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
}

.f12-b {
    font-size: 12px;
    font-weight: bolder;
}

.f10-b {
    font-size: 10px;
    font-weight: bolder;
}

.locked:after {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Font Awesome 5 Free";
    content: "\f023";
    font-weight: 900;
    font-size: 18px;
    top: 0;
    padding-top: 6px !important;
}

.teen20resultModal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.teen20resultCardContainer {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.teenPatti-table-container-m {
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.LowCommonCardImgContainer {
    width: 100%;
    height: 185px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}

.lowCardContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.ticker-container {
    width: 100%;
    overflow: hidden;
    background: #f7f7f7;
    border: 1px solid #ddd;
}

.ticker-container-New {
    margin-top: 0%;
    overflow: hidden;
    box-shadow: none;
}

.ticker-container-b {
    width: 100%;
    overflow: hidden;
}

.elem {
    position: absolute;
    top: 36%;
    /* Adjust to center vertically */
    left: 47%;
    /* Adjust to center horizontally */
    transform: translate(-50%, -100%);
    /* Proper centering above the video */
    height: 40px;
    width: 40px;
    z-index: 2;

    /* Transition and animation properties */
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
    transition-property: transform;
    transition-duration: 1s;

    /* Animation properties */
    -webkit-animation-name: growShrink;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: growShrink;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    animation-name: growShrink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.ticker-wrap {
    display: flex;
    width: 100%;
    white-space: nowrap;
}

.ticker-wrap-new {
    display: flex;
    width: 100%;
}

.ticker-move {
    display: flex;
    animation: ticker 40s linear infinite;
    color: "#097c93";
}

.ticker-move-new {
    display: flex;
    animation: ticker 40s linear infinite;
}

.ticker-move-60 {
    display: flex;
    animation: ticker 60s linear infinite;
}

.parent-rate {
    display: flex;
    width: 100%;
}

.child-rate1 {
    width: 70%;
    font-weight: 600;
    text-align: center;
}

.child-rate2 {
    width: 30%;
    font-weight: 600;
    text-align: center;
}

.oddEvenContainer-m-new {
    width: 100%;
    background-color: #eee;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.ticker-item {
    display: inline-block;
    padding: 0 2rem;
    font-size: 1.2rem;
    line-height: 2rem;
    white-space: nowrap;
}

@keyframes ticker {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}


.cricket20ballpopup {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    z-index: 10;
}

.cricket20ballpopup img {
    width: 150px;
}

.cricket20ballpopup span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 26px;
}

.cricket20ballresult {
    position: relative;
    width: auto;
    left: unset;
    top: unset;
    margin: 0;
    display: inline-block;
    animation: none;
}

.dtlTitle {
    width: 60%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1px solid #c7c8ca;
    padding: 5px;
    font-weight: 600;
    color: #000;
}

.dtlTitleNew {
    width: 40%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1px solid #c7c8ca;
    padding: 5px;
    font-weight: 600;
    color: #000;
}

.dtlTitleo32b {
    width: 60%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    font-weight: 600;
    color: #000;
    line-height: 1.9;
}

.dtlTitleo {
    width: 60%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1px solid #c7c8ca;
    padding: 5px;
    font-weight: 600;
    color: #000;
    line-height: 1.9;
}

.dtlsubTitle {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 0.1px solid #c7c8ca;
    border-right: 0.1px solid #c7c8ca;
    font-weight: 600;
    color: #000;
}

.dtlsubTitleNew {
    width: 20%;
    background-color: #72bbef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 0.1px solid #c7c8ca;
    border-right: 0.1px solid #c7c8ca;
    font-weight: 600;
    color: #000;
    cursor: pointer;
}

.card32bTitle {
    width: 60%;
    background-color: #ffffff;
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 0.1px solid #c7c8ca;
    padding: 5px;
    font-weight: 600;
    color: #000;
}

.card32bTitleNew {
    background-color: #fff;
    width: 60%;
    display: flex;
    flex-direction: column;
    // justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 0.1px solid #c7c8ca;
    // padding: 5px;
    font-weight: 600;
    text-align: start;
    // background-color: #ffc742;
}

.card32bsubTitle {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 0.1px solid #c7c8ca;
    border-right: 0.1px solid #c7c8ca;
    font-weight: 600;
    color: #000;
}

.lock-32 {
    position: relative;
    pointer-events: none;
    cursor: none;
}

.lock-32::before {
    background-image: url(../../../assets/images/baccarat/lock.svg);
    background-size: 17px 17px;
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    z-index: 10;
    /* Increased z-index to ensure visibility */
    top: 1px;
    // left: 27px;
    width: 17px;
    /* Set specific width */
    height: 17px;
    /* Set specific height */
    background-position: center;
    pointer-events: none;
    filter: invert(1);
    /* Ensure this doesn't affect visibility */
    -webkit-filter: invert(1);
}

.lock-32::after {
    content: "";
    background-color: #373636d6;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    cursor: not-allowed;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.elemd {
    position: absolute;
    top: 50%;
    left: 50%;
    /* Adjust to center horizontally */
    transform: translate(-50%, -100%);
    /* Proper centering above the video */
    height: 40px;
    width: 40px;
    z-index: 2;

    /* Transition and animation properties */
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
    transition-property: transform;
    transition-duration: 1s;

    /* Animation properties */
    -webkit-animation-name: growShrink;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: growShrink;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    animation-name: growShrink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.card-black {
    font-size: 22px;
    border: none !important;
}

.card-red {
    font-size: 22px;
    border: none !important;
    color: #ff0000;
}

.card-character-black {
    display: flex;
    font-weight: 600;
    margin-left: 2px;
}

.card-character-red {
    display: flex;
    font-weight: 600;
    color: #ff0000;
    margin-left: 2px;
}

.cards-box {
    display: flex !important;
    align-items: center;
}

.tiePairbtn-theme {
    color: #fff !important;
    background-image: linear-gradient(to right, #004a25, #ffc742) !important;
    width: 100% !important;
    border-radius: 4px !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
    border: 0 !important;
    padding: 2px 8px !important;
    cursor: pointer !important;
    font-size: 16px !important;
    font-weight: 600;
    position: relative;
    text-align: center;
    line-height: 3;
}

.tiePairContainer {
    width: 100%;
    background-color: #eee;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.tiePairContainer-bt {
    width: 100%;
    background-color: #eee;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #c7c8ca;
    border-right: 1px solid #c7c8ca;
    border-top: 1px solid #c7c8ca;
}

.profitLoss-Text {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.ticker-container {
    width: 100%;
    overflow: hidden;
    background: #f7f7f7;
    border-top: 0px;

    border-bottom: 2px solid #ddd;

    margin-top: 5px;
    box-shadow: 0 0 3px #aaa
}

.ticker-wrap {
    display: flex;
    width: 100%;
    white-space: nowrap;
}

.ticker-move {
    display: flex;
    animation: ticker 40s linear infinite;
}

.oddEvenContainerMob {
    width: 100%;
    background-color: #eee;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cardContainerMob {
    width: 100%;
    background-color: #eee;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 8px;
}

.cardContainerMobNew {
    width: 100%;
    background-color: #eee;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tiePairbtnMob-theme {
    color: #fff !important;
    background-image: linear-gradient(to right, #004a25, #ffc742) !important;
    width: 100% !important;
    // border-radius: 4px !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
    border: 0 !important;
    padding: 2px 8px !important;
    cursor: pointer !important;
    font-size: 16px !important;
    font-weight: 600;
    position: relative;
    text-align: center;
}

.tiePairContainer-d2 {
    width: 100%;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.oddEvenContainerMob-d2 {
    width: 100%;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.commonCardImgContainerDg {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    gap: 7px;
    margin-top: 5px;
}

.dlt-m-conatainer {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.dtlTitle-m {
    width: 60%;
    height: 50px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1px solid #c7c8ca;
    padding: 5px;
    font-weight: 600;
    color: #000;
    font-size: 12px;
}

.dtlsubTitle-m {
    width: 40%;
    height: 50px;
    background-color: #72bbef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 0.1px solid #c7c8ca;
    border-right: 0.1px solid #c7c8ca;
    font-weight: 600;
    color: #000;
}


.dtlTitlee {
    width: 20%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1px solid #c7c8ca;
    padding: 5px;
    font-weight: 600;
    color: #000;
}

.ddt1 {
    //{backgroundColor:"#f7f7f7",width:"100%",margin:"5px",paddingRight:"10px"}
    background: #f7f7f7;
    width: 100%;
    margin: 5px;
    padding-right: 10px;
}

.tab-containerp {
    display: flex;
    justify-content: flex-start;
    padding: 5px 0px 0px 0px;
    // margin-bottom: 20px;
}

.hands {
    padding: 4px 20px;
    cursor: pointer;
    border: 1px solid #ddd;

    // margin-right: 5px;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
}

.hands.active {
    // border-top: 4px solid white;
    background-color: $secondary;
    border-bottom: none;
    color: #fff;
}

.hands:hover {
    background-color: none;
}

.tab-contentp {
    border: 1px solid #ddd;
    background-color: #fff;
}

.casino-odds-box-poker {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    // padding: 5px;
    font-weight: bold;
    border-left: 1px solid #c7c8ca;
    cursor: pointer;
    min-height: 46px;
}

.poker6player .casino-odds-box {
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 10px;
}

.tiePairRateBoxMainP-m {
    width: 100%;
    display: flex;
    // flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    // justify-content: space-around;
}

.dt20TabBox-poker {
    width: 50%;
    background-color: #cccccc;
    // padding: 2px 0px 0px 5px;
    display: flex;
    flex-direction: row;
}

.dt20tabheaderp {
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    // justify-content: space-between;
    align-items: center;
}

.tiePairContainer-poker6 {
    width: 100%;
    background-color: #eee;
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    align-items: center;
}

.poker-table-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.casino-table-box-divider {
    background-color: #c7c8ca;
    width: 2px;
}

.poker-table-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 0.2px solid #fff;
    cursor: pointer;
}

.poker6-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
}

.tiePairbtnMob-theme-poker {
    display: flex;
    color: #fff !important;
    width: 100% !important;
    height: 100%;
    // border-radius: 4px !important;
    // box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
    border: 0 !important;
    // padding: 2px 8px 0px 0px !important;
    cursor: pointer !important;
    font-size: 16px !important;
    font-weight: 600;
    // position: relative;
    text-align: start;
    justify-content: flex-start;
}

.rate-box {
    font-size: 16px;
    font-weight: bold;
}

.casino-volume {
    font-size: 12px;
    font-weight: 100;
    line-height: 1;
    margin-top: 5px;
}

.lay-BackGround {
    background-color: #faa9ba;
}

.back-BackGround {
    background-color: #72bbef;
}

.totalContainer {
    width: 40%;
    background-color: #eee;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.winContainer {
    width: 60%;
    background-color: #eee;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.oddBoxContainer {
    width: 100%;
    background-color: #eee;
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.result-card-container {
    display: flex;
    flex-direction: row;
    gap: 8px
}

.flex-justify-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.teenPatti-table-container-open-new {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.teenPatti-table-itemo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-left: 0.01px solid #c7c8ca;
    border-bottom: 0.01px solid #c7c8ca;
    cursor: pointer;
}

.teen20resultCardContainer2 {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

.winner-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 10px;
}

.row-render {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
}

.teenPatti-table-container-open {
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.marketHeader {
    width: 100%;
    background-color: #ffc742d9;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    color: #ffffff;
}

.boxContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #eee;
    padding-left: 5px;
    border-bottom: 0.5px solid #c7c8ca;
}

.blboxessp1 {
    width: 15%;
    display: flex;
    flex-direction: row;
}

.blboxessp2 {
    width: 15%;
    display: flex;
    flex-direction: row;
}

.rateText {
    font-size: 16px;
    color: #333333;
    text-align: center;
}

.resultTabHead {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 5px;
    background-color: rgba(0, 74, 37, 0.9);
    align-items: center;
}

.resultTeamTab {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f7f7f7;
}

.super-over-rule {
    overflow: auto;
    // min-height: 200px;
    max-height: 400px;
}

.super-over-rule img {
    height: 40px;
}

.super-over-rule .table-over th,
.table-over td {
    padding: 2px 8px;
    vertical-align: middle;
}

.suspended-row {
    position: relative;
}

.suspended-row::after {
    content: attr(data-title);
    background-color: #373636d6;
    color: #ff0000;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    top: 0;
    cursor: not-allowed;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.suspended-row2 {
    position: relative;
}

.suspended-row2::after {
    content: attr(data-title2);
    background-color: #373636d6;
    color: #ff0000;
    font-weight: bold !important;
    font-size: 16px;
    text-transform: uppercase;
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    top: 0;
    cursor: not-allowed;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.subwinContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

.total-mainRateBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.win-mainRateBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    margin-bottom: 12px;
    gap: 10px;
}

.win-rateBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 5px;
    line-height: 1;
    height: 42px
}

.total-rateBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    padding: 5px;
    line-height: 1.2;
}

.oddsBoxProfitLoss {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes ticker {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* Updated keyframes for grow and shrink */
@-webkit-keyframes growShrink {
    0% {
        -webkit-transform: scale(1);
    }

    50% {
        -webkit-transform: scale(4.333);
    }

    100% {
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes growShrink {
    0% {
        -moz-transform: scale(1);
    }

    50% {
        -moz-transform: scale(4.333);
    }

    100% {
        -moz-transform: scale(1);
    }
}

@keyframes growShrink {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(4.333);
    }

    100% {
        transform: scale(1);
    }
}

.teen-back-m {
    width: 50%;
    background-color: rgb(114, 187, 239);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bolder;
}

.border-all {
    border: 1px solid #bfbfbf;
}

@media (min-width: 768px) {
    .border-md-right {
        border-right: 1px solid #bfbfbf;
        border-top: none;
        border-bottom: none;
        border-left: none;
    }

    .border-md-none {
        border-right: 0px solid #bfbfbf;
        border-top: none;
        border-bottom: none;
        border-left: none;
    }
}

@media (max-width: 768px) {
    .tabs-navs .nav-link {
        flex: 1 0 10%;
    }
}

@media (max-width: 768px) {
    .tabs-navs .nav-link {
        flex: 1 0 10%;
    }
}

@media (max-width: 768px) {

    .game-name {
        flex: 1 0 25%;
        /* Maintain 25% width on mobile */
        max-width: none;
        /* Allow flexibility for scrolling */
    }
}