@import "/src/assets/variable.scss";
.place-bet-table-red {
  td {
    background-color: $red1;
  }
}

.place-bet-table-blue {
  td {
    background-color: $blue3 !important;
  }
}

.place-bet-table-redm {
  background-color: $red1;
}

.place-bet-table-bluem {
  background-color: $blue3;
}

.sticky-column {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.ball-by-ball {
  display: "flex";
  margin: "10px 0";
  margin-bottom: "0";
  align-items: "center";
  font-size: "1.5rem";
}
