@import "/src/assets/variable.scss";

.horse-time-detail span {
  position: relative;
  background: #ffc742;
  color: #000;
  padding: 2px 10px;
  font-size: 14px;
  border-radius: 4px;
  margin-right: 5px;
  cursor: pointer;
  // position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.horse-time-detail span.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-right: 10px solid transparent;
  border-top: 10px solid green;
}
// .match-list-tabs {
//   border-right: 1px solid $secondary !important;
//   border-radius: 0px !important;
//   background-color: $gray;
//   // padding: 2px 10px;
//   &:hover {
//     border-right: 1px solid $secondary !important;
//   }
//   &.active {
//     background-color: $secondary !important;
//     border-color: transparent !important ;
//   }
// }

// .navtem {
//   padding: 0px !important;
//   margin-top: 10px !important;
// }

.match-tabs {
  margin:  0 !important;
  border-right: 1px solid $secondary !important;
  border-radius: 0px !important;
  background-color: $gray;
  &:hover {
      border-right: 1px solid $secondary !important;
  }
  &.active {
      background-color: $secondary !important;
      border-color: transparent !important ;
  }
}

.tab-content > .active {
  display: block;
}
.coupon-card {
  border-radius: 0 0 2px 2px;
}
.table {
  margin-bottom: 0 !important;
}
.coupon-table tr {
  margin: 0 !important;
}
.coupon-table tr td {
  padding: 0;
  vertical-align: middle;
  font-size: 14px;
  word-wrap: break-word;
}
.table.coupon-table {
  margin-bottom: 0;
  border-collapse: collapse;
}

.table.coupon-table td {
  padding: 3px;
}
.text-dark {
  font-size: 12px;
  padding: 0 2px;
}
.table.coupon-table tr {
  margin-bottom: 0;
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.horse-time-detail {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  // padding: 5px 5px 0 5px;
}
.horse-time-detail a {
  // margin-bottom: 0;
  display: flex;
}
.navi-link {
  width: 100%;
}
.navi-item {
  max-height: 8%;
}

.navi-tabs .nav-link.active {
  flex: 1 0 10%;
  background-color: #ffc742;
  color: #000;
}
.navi-tabs .navi-item {
  margin: 0;
  background-color: #dddddd;
}
.navi-tabs .navi-item.active {
  margin: 0;
  background-color: #ffc742 !important;
}

.navi-tabs .navi-link {
  padding: 0; /* Remove padding from Nav.Link */
  margin: 0; /* Remove margin from Nav.Link */
}
.tiePairContainer{
  width: 100%;
  background-color: #eee;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.tiePairRateBoxMain{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 3%;
}
.commonButtonBoxContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
.tiePairbtn-theme {
  color: #fff !important;
  background-image: linear-gradient(to right, #004a25, #ffc742) !important;
  width: 100% !important;
  border-radius: 4px !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
  border: 0 !important;
  padding: 2px 8px !important;
  cursor: pointer !important;
  font-size: 16px !important;
  font-weight: 600;
  position: relative;
  text-align: center;
}
.oddEvenContainer{
  width: 50%;
  background-color: #eee;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.cardContainer{
  width: 50%;
  background-color: #eee;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.commonCardImgContainer{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  margin-top: 5px;
}
.horseRacingTabHeader{
  width: 100%;
  height: 10%;
  background-color: #ffc742;
  display: flex;
  justify-content: space-between;
  padding: 8px;
}
// .horseRacingTab .nav-link{
//   margin: 0 !important;
// }

@media (max-width: 768px) {
  .tabs-navs .nav-link {
    flex: 1 0 10%;
  }
}
