@import "/src/assets/variable.scss";

.session-country {
    text-decoration: none !important;

    &:hover {
        text-decoration: underline !important;
    }
}

.bet-place-box50 {
    width: 44px;
}

.minMax {
    text-align: right;
}

.minmaxsession {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px;
}

.minmaxi {
    color: $secondary;
}

.min-max-info {
    height:auto;
    // width: 10px !important;
    position: absolute;
    right: 0;
    background-color: whitesmoke;
    // padding: 0px 14px 16px 14px;
    z-index: 1000;
    font-size: 12px;
    box-shadow: 0 0 5px #999;
}


 