@import "/src/assets/variable.scss";

.session-country {
    text-decoration: none !important;

    &:hover {
        text-decoration: underline !important;
    }
}
.bet-place-box {
    width: 50px;
}
.minMax {
    text-align: right;
}
.minmaxsession{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}
.minmaxsessionicon{
 
   margin-left: 220px;
}