@import "/src/assets/variable.scss";
html {
  -webkit-text-size-adjust: 100% !important;
}
.custom-toast {
  height: 45px; /* Increase the height here */
  border-radius: 3px; /* Adjust the border radius here */
}

.bg-blue-600 {
  background-color: rgba(206, 255, 217, 0.994);
  font-size: 12px;
  color: green;
}

.bg-red-600 {
  // background-color: rgba(245, 198, 203, 0.85);
  background-color: rgba(249, 194, 206, 0.984);
  color: #721c24;
  font-size: 12px;
}

.bg-gray-600 {
  background-color: #4b5563; /* Example hexadecimal color code for gray */
}

.bg-orange-400 {
  background-color: rgba(245, 198, 203, 0.85); /* Example hexadecimal color code for orange */
}

.bg-indigo-600 {
  background-color: #4f46e5; /* Example hexadecimal color code for indigo */
}

.bg-white-600 {
  background-color: #ffffff; /* Example hexadecimal color code for white */
}

.font-gray-300 {
  color: #d1d5db; /* Example hexadecimal color code for gray */
}

body {
  font-family: "Roboto Condensed", sans-serif !important;
  line-height: 15px;
}
body table.table {
  margin-bottom: 0;
}
.whitespace{
  // background-color: black;
  position: absolute;
  width: 100vw;
  height: 100%;
  margin-top: 1%;
}
/* Marquee.css */

.marquee-container {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.marquee-content {
  display: inline-block;
  font-size: 14px;
  white-space: nowrap;
  font-style: italic;
  animation: marqueeAnimation 60s linear infinite;
}
.liveDot {
  width: 10px;
  height: 10px;
  background-color: $green;
  border-radius: 50%;
}
.react-date-picker{
  border: 0;
}
.react-date-picker__wrapper{
  height: 38px;
  border-radius: 5px !important;
  border: 1px solid $gray !important;
  outline: 0;
}

@keyframes marqueeAnimation {
  0% {
    transform: translateX(250%);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* ====== excel csv btn ======= */
.excel {
  background-color: $excel !important;
}
.pdf {
  background-color: $pdf !important;
}

// action buttons
.actionBtn {
  padding: 0px 10px !important;
  height: auto !important;
}
.modalFull-90.customModal .modal-dialog {
  width: 90vw;
  max-width: none;
}

// cursor pointer
.cursor-pointer {
  cursor: pointer;
}

// ===== blink text ====
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.blinking-text {
  animation: blink 1s infinite;
}
.color{
  background-color: $primary !important;
}
.font{
  font-size: 12px;
}
// mobile tabs
.m-tab {
  border-radius: 0px !important;
  display: flex;
  justify-content: flex-start;
  align-self: start;
  background-color: $primary !important;
  // padding: 0px 10px !important;
  color: $white !important;
  border-right: 1px solid $white !important;
  width: 100% !important;
  div{
    width: 100% !important;
  }
}
.m-tab.active {
  border-color: transparent;
  border-top: 2px solid $white !important;
  border-left: none !important;
}
.no-wrap {
  flex-wrap: nowrap !important;
  text-wrap: nowrap;
}

/* ====== bg Colors start ====  */
.bg-secondaryLight {
  background-color: rgba($secondary, 0.7) !important;
}
.bg-secondary {
  background-color: $secondary;
}
.bg-blue1 {
  background-color: $blue1 !important;
}
.bg-blue2 {
  background-color: $blue2 !important;
}
.bg-blue3 {
  background-color: $blue3 !important;
}
.bg-blue4 {
  background-color: $blue4 !important;
}
.bg-red1 {
  background-color: $red1 !important;
}
.bg-red2 {
  background-color: $red2 !important;
}
.bg-red3 {
  background-color: $red3 !important;
}
.bg-gray {
  background-color: $gray !important;
}
.bg-darkGrey {
  background-color: $darkGray !important;
}
.bg-lightGray {
  background-color: $lightGray !important;
}
.bg-primaryBlue {
  background-color: $primaryBlue !important;
}
.bg-green {
  background-color: $green !important;
}
.color-green {
  color: $green !important;
}
.color-red {
  color: $pdf !important;
}
/* ====== bg Colors end ====  */

body input,
body select {
  border-radius: 3px !important;
}
.white-text {
  color: $white;
}
.text-primaryBlue {
  color: $primaryBlue;
}

.btn {
  border-radius: 3px !important;
  font-size: 14px !important;
}

.top-tab{
  font-size: 14px;
 }

// mobile and desktop tab bar
.m-match-list-tabs {
  flex-direction: column;
  height: 100%;
  border-radius: 0px !important;
  background-color: $secondary !important;
  // padding: 1px;
  // padding-left: 0px;
  // padding-right: 0px;
  padding: 3px 2px 5px;
  flex-wrap: nowrap;
  // overflow-x: auto;
  // overflow-y: hidden;
  color: $black;
  width: 90%;
  white-space: nowrap;  
  &.active {
    background-color: $primary !important;
    color: $white !important;
    border-color: transparent !important ;
  }
}
.matchListTab {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary !important;
  color: $white !important ;
  padding: 10px;
  border: 0.5px $white solid;
}
.matchListTab.active{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $secondary !important;
  color: $white !important ;
  padding: 10px;
  border: 0.5px $white solid;
}
.nav-tab{
  padding-left: 0px;
  padding-right: 0px;
margin-left: 0%;
margin-right: 0%;
}
.navtab-name{
  font-weight: 410;
}
.tab-img{
  display: block;
  margin: 0 auto; 
  height: 24px;
  width: 28px;
}

/* ===== for reports  ====  */

.coloumn-6 {
  flex: 0 0 auto;
  width: 50%;
  display: grid;
  justify-content: flex-start;
  text-align: start;
  font-size: 11px;
}
.reportBody{
  font-size: 12px;
}

.unsetteled-bet {
  padding: 1px 5px;
  box-shadow: 0 3px 5px -3px;
  margin-bottom: 5px;
}

.unsetteled-bet a {
  color: #2587d0 !important;
}

/* ===== for casino ====  */

.featured-box {
  padding-top: 5px;
  max-width: 100% !important;
  -ms-flex: 0 0 100% !important;
  flex: 0 0 100% !important;
}
.coupon-card {
  padding: 0px 0px 0px 7px;
  // margin-bottom: 16px;
  border-radius: 0 0 2px 2px;
}
.game-heading {
  position: relative;
}

.game-heading {
  background-color: #ffc742;
  color: #000000;
  padding: 5px;
}
.game-heading .card-header-title {
  font-size: 10px;
  text-transform: uppercase;
}

.game-heading .card-header-title {
  font-size: 14px;
  font-weight: 600;
}
.div-figure {
  width: 31.33% !important;
  overflow: hidden;
  margin-right: 1% !important;
  margin-left: 1% !important;
  padding: 0;
  max-width: 31.33%;
  float: left;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #000;
}
.m-b-30 {
  margin-bottom: 30px;
}
.div-figure img {
  -webkit-transition: transform 0.5s linear;
  transition: transform 0.5s linear;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

.div-figure:hover img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
img {
  vertical-align: middle;
  border-style: none;
}
.cardResultBoxContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
.cardResultBoxHeader{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6px 8px;
  background-color: #ffc742D9;
}
.cardResultBoxRound{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  margin-top: 10px;
  gap: 5px;
  margin-bottom: 10px;
}
.cardResultCircle{
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #355e3b;
  display: flex;
  justify-content: center;
  align-items: center;
}
.casino-header {
  display: flex;
  justify-content: space-between;
  background-color: #004a25;
  box-shadow: 0px -5px 5px -5px rgba(0, 0, 0, 0.5);
  height: 40px;
  align-items: center;
}

.casino-header .round a {
  color: #000000;
  text-decoration: underline;
 font-size: 12px;
}

.casino-title {
  background-color: #ffc742;
  padding: 4px 8px;
  color: #000;
  font-size: 14px;
}
.casino-video {
  position: absolute;
  background-color: #000;
  // height: 100%;
}

.casino-container table tbody, .casino-container table thead, .casino-container table tbody tr, .casino-container table thead tr {
  position: relative;
  width: 100%;
}

.table-bordered td, .table-bordered th {
  border: 1px solid #aaa;
}
.back {
  background-color: #a7d8fd !important;
}

.box-5 {
  width: 50%;
  min-width: 50%;
  max-width: 50%;
  font-size: 12px;
}
.casino-container .table td {
  border-bottom: 0;
  line-height: 1;
}
.casino-container .table tr {
  background-color: rgba(0, 0, 0, 0.05);
  display: table;
  width: 100%;
}
.table thead th {
  border-bottom: 0;
  vertical-align: middle;
  font-size: 14px;
}

.table-bordered thead td, .table-bordered thead th {
  border-bottom-width: 1px;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 1px solid #dee2e6;
}
.casino-container .table td {
  border-bottom: 0;
  padding-left: 2px;
  font-size: 14px;
}

.table td, .table th {
  padding: 2px;
  vertical-align: middle;
}

.table thead th tr b{
  padding-left: 2px;
}
.b-table-sticky-header, .table-responsive, [class*=table-responsive-] {
  margin-bottom: 0.5rem;
}
.rules-table .table {
  background-color: rgb(241 245 248);
}
.box-7{
  font-size: 12px;
}
.box-3{
  font-size: 12px;
}
.coupon-table .tablebg{
  background-color: rgb(241 245 248);
}

.coupon-table thead th {
  font-size: 12px;
  // font-weight: 700;
  text-align: center;
  padding: 6px 0;
  padding-left: 2px;
  color: #303030;
  line-height: 1;
}
.coupon-table thead td tr{
  padding: 4px 0;

}
.back, .back-color {
  background-color: #72bbef !important;
}
.box-2 {
  width: 20%;
  min-width: 20%;
  max-width: 20%;
  font-size: 10px;
}
.coupon-table tr td:first-child {
  padding-left: 15px;
  vertical-align: middle;
  padding-right: 15px;
}
.coupon-table tr td:first-child {
  padding-left: 15px;
  vertical-align: middle;
  padding-right: 15px;
}
.fontb{
  font-size: 9px;
  padding: 0px;
  line-height: 0.8;
}

.horseRacingTabHeader{
  width: 100%;
  height: 12%;
  background-color: #ffc742;
  display: flex;
  justify-content: space-between;
  padding: 6px 8px;
}
.horseRacingTabHeader-m{
  width: 100%;
  height: 18%;
  background-color: #ffc742;
  display: flex;
  justify-content: space-between;
  padding: 6px 8px;
}
.teenpatti-20 .suspended:after {
  width: 50%;
}

.suspended:after {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-transform: uppercase;
  font-family: "Font Awesome 5 Free";
  content: "\f023";
  font-weight: 900;
  font-size: 18px;
  top: 0;
}
.resultModalHeader{
  width: 100%;
  height: 70px;
  padding: 10px;
  background-color: #004a25;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}
.resultModalSubHead{
  width: 100%;
  height: 50px;
  padding: 10px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #000000;
}
.suspended {
  position: relative;
}

/* ===== for title ====  */
.title-46 {
  font-size: 46px !important;
}
.title-40 {
  font-size: 40px !important;
}
.title-36 {
  font-size: 36px !important;
}
.title-34 {
  font-size: 34px !important;
}
.title-32 {
  font-size: 32px !important;
}
.title-30 {
  font-size: 30px !important;
}
.title-28 {
  font-size: 28px !important;
}
.title-26 {
  font-size: 26px !important;
}
.title-24 {
  font-size: 24px !important;
}
.title-22 {
  font-size: 22px !important;
}
.title-20 {
  font-size: 20px !important;
}
.title-18 {
  font-size: 18px !important;
}
.title-16 {
  font-size: 16px !important;
  line-height: 0.6;
  padding-top: "10px" !important;
}
.title-15 {
  font-size: 15px !important;
}
.title-14 {
  font-size: 14px !important;
}
.title-13 {
  font-size: 13px !important;
}
.title-12 {
  font-size: 12px !important;
}
.title-10 {
  font-size: 10px !important;
}
.f300 {
  font-weight: 300 !important;
}
.f400 {
  font-weight: 400 !important;
}
.f500 {
  font-weight: 500 !important;
}
.f600 {
  font-weight: 600 !important;
}
.f700 {
  font-weight: 700 !important;
}
.f800 {
  font-weight: 800 !important;
}
.f900 {
  font-weight: 900 !important;
}
.font-color {
  color: $black;
}

// width
.w-35 {
  width: 35% !important;
}
.form-check-input[type=radio] {
  border-radius: 50% !important;
}
// === border css start ====

// === border css start ====
/*# sourceMappingURL=common.css.map */
