@import "/src/assets/variable.scss";

.horse-time-detail span {
  position: relative;
  background: #ffc742;
  color: #000;
  padding: 2px 10px;
  font-size: 14px;
  border-radius: 4px;
  margin-right: 5px;
  cursor: pointer;
  // position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.horse-time-detail span.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-right: 10px solid transparent;
  border-top: 10px solid green;
}
// .match-list-tabs {
//   border-right: 1px solid $secondary !important;
//   border-radius: 0px !important;
//   background-color: $gray;
//   // padding: 2px 10px;
//   &:hover {
//     border-right: 1px solid $secondary !important;
//   }
//   &.active {
//     background-color: $secondary !important;
//     border-color: transparent !important ;
//   }
// }

// .navtem {
//   padding: 0px !important;
//   margin-top: 10px !important;
// }


.match-tabs {
  margin:  0 !important;
  border-right: 1px solid $secondary !important;
  border-radius: 0px !important;
  background-color: $gray;
  &:hover {
      border-right: 1px solid $secondary !important;
  }
  &.active {
      background-color: $secondary !important;
      border-color: transparent !important ;
  }
}

.tab-content > .active {
  display: block;
}
.coupon-card {
  border-radius: 0 0 2px 2px;
}
.table {
  margin-bottom: 0 !important;
}
.coupon-table tr {
  margin: 0 !important;
}
.coupon-table tr td {
  padding: 0;
  vertical-align: middle;
  font-size: 14px;
  word-wrap: break-word;
}
.table.coupon-table {
  margin-bottom: 0;
  border-collapse: collapse;
}

.table.coupon-table td {
  padding: 3px;
}
.text-dark {
  font-size: 12px;
  padding: 0 2px;
}
.table.coupon-table tr {
  margin-bottom: 0;
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.horse-time-detail {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  // padding: 5px 5px 0 5px;
}
.horse-time-detail a {
  // margin-bottom: 0;
  display: flex;
}
.navi-link {
  width: 100%;
}
.navi-item {
  max-height: 8%;
}

.navi-tabs .nav-link.active {
  flex: 1 0 10%;
  background-color: #ffc742;
  color: #000;
}
.navi-tabs .navi-item {
  margin: 0;
  background-color: #dddddd;
}
.navi-tabs .navi-item.active {
  margin: 0;
  background-color: #ffc742 !important;
}

.navi-tabs .navi-link {
  padding: 0; /* Remove padding from Nav.Link */
  margin: 0; /* Remove margin from Nav.Link */
}
.teenPatti-table-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}
.teenPatti-table-row{
  background-color: #dee2e6;
  width: 100%;
  display: flex;
  flex-direction: row
}
.teenPatti-table-item{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 0.2px solid #fff;
  cursor: pointer;
}
.f12-b{
  font-size: 12px;
  font-weight: bolder;
}
.f10-b{
  font-size: 10px;
  font-weight: bolder;
}

.suspended:after {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Font Awesome 5 Free";
  content: "\f023";
  font-weight: 900;
  font-size: 18px;
  top: 0;
  z-index: 10;
}
.teen20resultModal{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.teen20resultCardContainer{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
// .horseRacingTab .nav-link{
//   margin: 0 !important;
// }

.score-box {
  position: relative;
  height: 64px;
  margin-top: 30px;
  padding: 0;
  // background-image: url(../img/score-bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 45px;
}

// .score-box {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   padding: 10px 20px;
//   color: #fff;
//   font-size: 14px;
//   background-color: #2c3e50; /* Add a background color for better visibility */
//   border: 1px solid #fff; /* Add border for better structure */
//   position: relative; /* Ensure that the ball icon's absolute positioning works relative to this container */
// }

.team-score {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 14px;
}

.cricket20 .ball-icon {
  position: absolute;
  left: 50%;
  top: -25px;
  height: 50px;
  transform: translateX(-50%);
}

.cricket20 .blbox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  width: 170px;
  height: 40px;
  transform: translateX(-50%);
  bottom: -15px;
}

.cricket20 .blbox div {
  width: 35%;
  text-align: center;
  color: #000;
  height: 40px;
  line-height: 40px;
  border: 0;
}

.casino-odds-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
  font-weight: bold;
  border-left: 1px solid var(--table-border);
  cursor: pointer;
  min-height: 46px;
}

.suspended-box {
  position: relative;
  pointer-events: none;
  cursor: none;
}

.back {
  background-color: #72bbef !important;
}

.lay {
  background-color: #faa9ba !important;
}

*, ::after, ::before {
  box-sizing: border-box;
}

.ticker-container {
  width: 100%;
  overflow: hidden;
  background: #f7f7f7;
  border-top: 0px;
  
  border-bottom: 2px solid #ddd;
 
  margin-top: 5px;
  box-shadow:0 0 3px #aaa
}

.ticker-wrap {
  display: flex;
  width: 100%;
  white-space: nowrap;
}

.ticker-move {
  display: flex;
  animation: ticker 40s linear infinite;
}

.ticker-item {
  display: inline-block;
  padding: 0 2rem;
  font-size: 12px;
  line-height: 2rem;
  white-space: nowrap;
}

@keyframes ticker {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 768px) {
  .tabs-navs .nav-link {
    flex: 1 0 10%;
  }
}
