// Import your variables
@use "/src/assets/variable" as *;

// Define your styles using variables
.topbar-link {
  text-align: center;
  position: relative;
  text-wrap: nowrap;

  &::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    right: 50%;
    // top: 1px;
    height: 1.5px;
    background: $white;
    transition: left 0.3s ease-out, right 0.3s ease-out;
  }

  &:hover:not(.active) {
    color: none;

    &::before {
      left: 0;
      right: 0;
    }
  }

  &.active {
    color: none;

    &::before {
      content: none;
    }
  }
}