@import "/src/assets/variable.scss";
.one-v-one-row td {
    padding: 0px;
    width: 100px;
}
.one-v-one-title:hover {
    text-decoration: underline;
    cursor: pointer;
}
.casinoicons {
    position: relative;
}
.casinoicons{

    // box-shadow: 0 12px 8px -8px;
    border-radius: 4px;
    margin-bottom: 5px;
    cursor: pointer;
}
.casino-list {
    display: flex;
    flex-wrap: wrap;
}

.casino-list-item {
    width: calc(10% - 10px);
    cursor: pointer;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
}
a {
    color:$primaryBlue;
    text-decoration: none;
    background-color: transparent;
}


.casinoicons img{
    // width: calc(10% - 0px);
    height: auto;
}

.casino-name {
    background-image: linear-gradient($primary, $secondary);
    color: $white;
    padding: 2px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    // border-radius: 0px 0px 4px 4px;
    font-size: 9px;
    white-space: nowrap;
}
.d-inline-block {
    display: inline-block!important;
}


// @media only screen and (max-width: 1699px) {
//     .casino-list-item {
//         width: calc(9.5% - 10px);
//          margin-right: -10px;
//     }
// }