@import "/src/assets/variable.scss";
.custom-nav {
  background-color: $primary;
}

.custom-nav-item {
  &.active {
    color: $white !important;
    background-color: $primary !important;
  }
}

.custom-nav-item.active {
  border: 1px solid $primary;
}

.rule-popup .custom-nav .nav-item {
  border-bottom: 1px solid $primary;
}

.rule-popup .rule-popup-heading {
  background-color: $secondary;
  height: 40px;
  text-align: start;
  padding-left: 8px;
  padding-top: 4px;
  display: flex;
  align-items: center;
}

