@import "/src/assets/variable.scss";

.page-content {
  background-color: $light;
  height: calc(100vh - 52px);
  margin: 12px;
  padding: 10px 0;
}

.market {
  margin: 0 20px 20px 20px;
  font-size: 10px;
}

.footer-login {
  background-color: #004a25;
  color: #ffffff;
  position: fixed;
  bottom: 0;
  // z-index: 9999;
}
.footer {
  background-color: #004a25;
  color: #ffffff;
  bottom: 0;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer-links {
  flex: 1;
}

.navbar {
  padding: 0 !important;
}

.footer-links .nav-link {
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
}

.support-detail {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.social-icons-box {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: flex-end;
}

.support-detail h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 0;
}


.navbar-nav-f {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}


.footer-bottom {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.secure-logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: normal;
}
.footer-bottom img {
  max-height: 30px;
  max-width: 100px;
  margin-right: 10px;
}
.footer-text {
  text-align: center;
}
.footer-bottom .secure-logo img {
  max-height: 50px;
}

@media only screen and (max-width: 767px) {
  .secure-logo ~ div {
      width: 100%;
      text-align: center;
      margin-top: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .secure-logo {
      width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .footer-text {
      margin-top: 5px;
  }
}
@media only screen and (max-width: 767px) {
  .footer-text p {
      font-size: 12px;
  }
}
@media (min-width: 576px) {
  .navbar-expand-sm {
      flex-wrap: nowrap;
      justify-content: flex-start;
  }
}

@media (min-width: 576px) {
  .navbar-expand-sm .navbar-nav {
      flex-direction: row;
  }
}


@media (min-width: 576px) {
  .navbar-expand-sm .navbar-nav .nav-link {
      padding: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .h2, h2 {
      font-size: 1rem;
  }
}

.h2, h2 {
  font-size: calc(0.25rem + .9vw);
}

@media only screen and (max-width: 767px) {
  .footer-links {
      width: 100%;
      text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  .footer-links, .support-detail, .social-icons-box {
      flex: unset;
  }
}

@media only screen and (max-width: 767px) {
  .footer-links ul {
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
  }
}

@media only screen and (max-width: 767px) {
  .footer-links ul li {
      width: 50%;
  }
}

@media only screen and (max-width: 767px) {
  .footer-links .nav-link {
      // padding: 3px;
      text-decoration: underline;
      font-size: 12px;
  }
}
@media only screen and (max-width: 767px) {
  .footer-links, .support-detail, .social-icons-box {
      flex: unset;
  }
}
@media only screen and (max-width: 767px) {
  .support-detail {
      width: 100%;
      margin-top: 15px;
  }
}

@media only screen and (max-width: 767px) {
  h2, .h2 {
      font-size: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .footer-links {
      width: 100%;
      text-align: center;
  }
}